unset NIX_PATH

SYSTEM=$(uname -m)-$(uname -s | tr "[:upper:]" "[:lower:]")
export SYSTEM

# keep bytecode cache separate from source
export PYTHONPYCACHEPREFIX=$PWD/.__pycache__

dotenv_if_exists
dotenv_if_exists .env.local
watch_file ./*.nix pyproject.toml
use flake
