# this file is symlinked in the project so we need `realpath` to get this directory
dotenv "$(dirname "$(realpath "${BASH_SOURCE[0]}")")/.env"
dotenv_if_exists
dotenv_if_exists .env.local

# https://github.com/nix-community/nix-direnv#tracked-files
# NOTE: file watches must come first
nix_direnv_watch_file default.nix pyproject.toml

use flake
