# per-project shell history
HISTFILE=$PWD/.zsh_history

# keep bytecode cache separate from source
export PYTHONPYCACHEPREFIX=$PWD/.__pycache__

# this file is symlinked in the project so we need `realpath` to get this directory
dotenv "$(dirname "$(realpath "${BASH_SOURCE[0]}")")/.env"
dotenv_if_exists
dotenv_if_exists .env.local
watch_file default.nix pyproject.toml
use flake
